.body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}
.img{
    width: 100px;
    display: block;
    max-width: 100%;
}
h1{
    color: indianred;
    font-style: normal;
}
