.body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    text-align: center;
}
.img{
    width: 100px;
    display: block;
    max-width: 100%;
}
h1{
    color: indianred;
    font-style: normal;
} 
nav{
    height: 80px;
}
label.logo{
    font-size: 35px;
    font-weight: bold;
    line-height: 50px;
    padding: o 100px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
img{
    float: left;
    border-width: 30px;
    margin-top: 50px;
}
nav ul li a{
    color: indianred;
    float: left;
    font-size: 25px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: lightblue;
    transition: .5s;
}